
//Base version:

// Basic config and utilities:
@import 'variable';
 
// Layout and organization:
@import 'grid',

 
// Components:
@import '',
        '';



//Variables:
$primaryColor: #ffffff
$primaryBackgroundImage: url(images/tooplate_home_body.jpg)
$color: $color





body
  margin: 0px
  padding: 0px
  color: $color
  font-family: Tahoma, Geneva, sans-serif
  font-size: 12px
  line-height: 1.5em
  background-color: $primaryColor
  background-repeat: repeat-x
  background-position: top

.home
  background-image: $primaryBackgroundImage

.subpage
  background-image: url(images/tooplate_subpage_body.jpg)

a
  color: #d95e1c
  text-decoration: none
  &:link, &:visited
    color: #d95e1c
    text-decoration: none
  &:hover
    text-decoration: underline

p
  margin: 0
  padding: 0

img
  border: none

h1, h2, h3, h4, h5, h6
  color: #0f3252

h1
  font-size: 34px
  font-weight: normal
  margin: 0 0 30px 0
  padding: 5px 0

h2
  font-size: 28px
  font-weight: normal
  margin: 0 0 20px 0
  padding: 0

h3
  font-size: 21px
  margin: 0 0 15px
  padding: 0
  font-weight: normal

h4
  font-size: 18px
  margin: 0 0 15px
  padding: 0

h5
  font-size: 16px
  margin: 0 0 10px
  padding: 0

h6
  font-size: 14px
  margin: 0 0 5px
  padding: 0

.cleaner
  clear: both

.h10
  height: 10px

.h20
  height: 20px

.h30
  height: 30px

.h40
  height: 40px

.h50
  height: 50px

.h60
  height: 60px

.float_l
  float: left

.float_r
  float: right

.image_wrapper
  display: inline-block
  border: 1px solid #ccc
  padding: 4px
  background: #fff
  margin-bottom: 5px

.image_fl
  float: left
  margin: 3px 15px 0 0

.image_fr
  float: right
  margin: 3px 0 0 15px

blockquote
  font-style: italic
  margin-left: 10px

cite
  font-weight: bold
  color: #000
  span
    color: $color

em
  color: #1b6fbb

.tooplate_list
  margin: 20px 0 20px 20px
  padding: 0
  list-style: none
  li
    color: #f48a06
    background: transparent url(images/tooplate_list.jpg) no-repeat scroll 0 3px
    margin: 0 0 10px
    padding: 3px 0 3px 20px
    line-height: 1em
    a
      color: #f48a06
      &:hover
        color: #f48a06

#tooplate_wrapper
  width: 940px
  padding: 0 20px
  margin: 0 auto
  background: url(images/tooplate_wrapper.png) repeat-y left

#tooplate_sidebar
  float: left
  width: 260px
  padding-bottom: 40px
  background: #e1e1e1 url(images/tooplate_header_bg.jpg) top no-repeat

#site_title
  a
    display: block
    width: 220px
    height: 50px
    padding: 75px 20px 20px
    font-size: 20px
    margin-top: 15px
    font-weight: bold
    text-align: center
    color: #8cc9ff
    background: url(images/logo.png) center top no-repeat
  span
    color: #fff
  a:hover
    text-decoration: none

#home_service
  clear: both
  padding: 0 5px
  margin-bottom: 20px

.home_service_box
  position: relative
  display: block
  width: 155px
  height: 50px
  padding: 15px 15px 15px 80px
  background: url(images/tempatemo_service_bg.jpg) no-repeat
  margin-bottom: 5px
  font-size: 11px
  line-height: 1.2em
  h5 a
    color: #618823
    margin-bottom: 10px
  span
    &.service1
      position: absolute
      background: url(images/onebit_16.png)
      width: 48px
      height: 48px
      left: 15px
      top: 16px
    &.service2
      position: absolute
      background: url(images/onebit_15.png)
      width: 48px
      height: 48px
      left: 15px
      top: 16px
    &.service3
      position: absolute
      background: url(images/onebit_18.png)
      width: 48px
      height: 48px
      left: 15px
      top: 16px

.sidebar_box
  padding: 15px
  border-bottom: 1px solid #999
  h4
    color: #0f3252

.sbb_last
  border-bottom: none

.sidebar_box form .newsletter_email
  width: 218px
  padding: 5px
  margin: 10px 0
  font-family: Tahoma, Geneva, sans-serif
  font-size: 12px
  color: $color
  background: #F2F2F2
  border: 1px solid #AAA

#newsletter_box form #submit_subscribe
  cursor: pointer
  float: right
  padding: 8px 12px
  background: #F2F2F2
  border: 1px solid #AAA
  font-family: Tahoma, Geneva, sans-serif
  font-size: 13px
  font-weight: bold
  color: $color

#tooplate_main
  float: right
  width: 640px

#tooplate_menu
  width: 640px
  height: 60px
  margin-bottom: 30px
  ul
    height: 40px
    margin: 0 0 40px
    padding: 20px 0 0
    list-style: none
    li
      padding: 0
      margin: 0
      display: inline
      a
        float: left
        display: block
        padding-left: 20px
        margin-right: 40px
        font-size: 14px
        text-decoration: none
        color: #a2c8eb
        font-weight: bold
        background: url(images/tooplate_menu.png) no-repeat left center
        &:hover
          color: #fff
          background: url(images/tooplate_menu_hover.png) no-repeat left center
    .current
      color: #fff
      background: url(images/tooplate_menu_hover.png) no-repeat left center

#featured_project
  clear: both
  height: 270px
  width: 640px
  color: #fff
  margin: 50px 0 80px
  h1
    color: #fff
    /* text-shadow: 2px 2px 3px #000
  h3
    color: #dce5ed
  p
    margin-bottom: 15px
    color: #588ab7
  a
    color: #fff
    font-weight: bold
  img
    float: left
    width: 320px
    height: 160px
    border: 1px solid #28557e
    padding: 8px
    margin-right: 40px
    background: #071a2b

#tooplate_content
  clear: both
  padding-bottom: 40px
  h2
    line-height: 30px
  p
    margin-bottom: 15px

#content_title_box
  clear: both
  color: #fff
  font-size: 16px
  line-height: 24px
  margin-bottom: 80px
  h2
    color: #fff

.content_box
  margin-bottom: 40px
  padding-bottom: 20px

.cb_last
  margin-bottom: 0
  padding-bottom: 0
  border-bottom: none

.col_w300
  width: 300px

.home_newsbox
  margin-bottom: 20px

.service_box
  padding-bottom: 30px
  margin-bottom: 30px
  border-bottom: 1px dashed #ccc

.sb_last
  padding: 0
  margin: 0
  border: none

.service_box
  img
    float: left
    width: 48px
    height: 48px
  .right
    float: right
    width: 560px
  ol li
    list-style: decimal-leading-zero
    margin-bottom: 5px

/* gallery

#gallery
  clear: both
  .gallery_box
    padding-bottom: 20px
    margin-bottom: 20px
    border-bottom: 1px dashed #ccc
    .left
      float: left
      width: 280px
      img
        width: 270px
        height: 130px
        border: 2px solid #000
        padding: 1px
        background: #64808b
    .right
      float: right
      width: 330px

/* end of gallery

#contact_form
  width: 330px
  padding: 0px
  margin: 0px
  form
    .input_field
      width: 280px
      padding: 8px
      background: #F2F2F2
      border: 1px solid #AAA
      color: $color
      font-family: Tahoma, Geneva, sans-serif
      font-size: 12px
      margin-top: 5px
    label
      display: block
      width: 100px
      margin-top: 10px
      font-size: 14px
      color: $color
    textarea
      width: 380px
      height: 200px
      background: #F2F2F2
      border: 1px solid #AAA
      padding: 8px
      color: $color
      font-family: Tahoma, Geneva, sans-serif
      font-size: 12px
      margin-top: 5px
    .submit_btn
      margin: 10px 0px
      padding: 8px 16px
      background: #F2F2F2
      border: 1px solid #AAA
      color: $color
      font-size: 13px
      font-weight: bold

#tooplate_footer_wrapper
  clear: both
  width: 100%
  border-top: 5px solid #64a6e3
  background: #0f3252

#tooplate_footer
  width: 940px
  padding: 20px
  margin: 0 auto
  text-align: center
  color: #64a6e3
  a
    color: #b6dcff