//Configuration:

//border:
$app-border-radius: 1px !default;
$app-border-config: solid !default;


//config:
$primaryColor: $colorWhite !default;
$primaryBackgroundImage: url(images/tooplate_home_body.jpg) !default;
$subpageBackgroundImage: url(images/tooplate_subpage_body.jpg) !default;
$color: $colorDarkGray;
$image-wrapper-background: $colorWhite !default;
$list-image: url(images/tooplate_list.jpg) !default;
$wrapper-image: url(images/tooplate_wrapper.png) !default;
$sidebar-image: url(images/tooplate_header_bg.jpg) !default;
$logo-image: url(images/logo.png) !default;
$service-bg-image: url(images/tempatemo_service_bg.jpg) !default;
$menu-image: url(images/tooplate_menu.png) !default;
$menu-hover-image: url(images/tooplate_menu_hover.png) !default;

//mixin: arg
$style_1: (background: $service-bg-image no-repeat, width: 155px);



//Basic: config mixin:

@mixin padding($values...) {
    @each $var in $values {
        padding: #{$var};
    }
}



@mixin box($width, $background) {
    width: $width;

    background-color: $background;
}


@mixin flex {

    display: -webkit-flex;
    display: flex;
}

@mixin grid($flex: false) {
     @if $flex {
            @include flex;
        } @else {
            display: block;
        }
}




//Basic: config Placeholders
%font-param {
    font-weight:bold;
}








