//Base version:
Vanilla aplication template: To be extended for themes

// Basic config and utilities:
@import 'variable';
 
// Layout, components and organization:
@import 'config';


//variables:
$app-default-position: relative !default;


/*
Basic application template: Template configuration
*/

body {
  margin: 0px;
  @include padding("0px");
  //padding: 0px;
  color: $color;
  font-family: $app-font-family;
  font-size: $app-font-size;
  line-height: 1.5em;
  background-color: $primaryColor;
  background-repeat: repeat-x;
  background-position: top;
}

.home {
  background-image: $primaryBackgroundImage;
}

.subpage {
  background-image: $subpageBackgroundImage;
}

a {
  color: $colorRust;
  text-decoration: none;
  &:link, &:visited {
    color: $colorRust;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0;
  @include padding("0");
  //padding: 0;
}

img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $colorDarkBlue;
}

h1 {
  font-size: 34px;
  font-weight: $app-font-weight;
  margin: 0 0 30px 0;
  @include padding("5px 0");
  //padding: 5px 0;
}

h2 {
  font-size: 28px;
  font-weight: $app-font-weight;
  margin: 0 0 20px 0;
  @include padding("0");
  //padding: 0;
}

h3 {
  font-size: 21px;
  margin: 0 0 15px;
  @include padding("0");
  //padding: 0;
  font-weight: $app-font-weight;
}

h4 {
  font-size: 18px;
  margin: 0 0 15px;
  @include padding("0");
  //padding: 0;
}

h5 {
  font-size: 16px;
  margin: 0 0 10px;
  @include padding("0");
  //padding: 0;
}

h6 {
  font-size: 14px;
  margin: 0 0 5px;
  @include padding("0");
  //padding: 0;
}

.cleaner {
  clear: both;
}

.h10 {
  height: 10px;
}

.h20 {
  height: 20px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h60 {
  height: 60px;
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.image_wrapper {
  display: inline-block;
  border: $app-border-radius $app-border-config $colorLightGray;
  @include padding("4px");
  //padding: 4px;
  background: $image-wrapper-background;
  margin-bottom: 5px;
}

.image_fl {
  float: left;
  margin: 3px 15px 0 0;
}

.image_fr {
  float: right;
  margin: 3px 0 0 15px;
}

blockquote {
  font-style: italic;
  margin-left: 10px;
}

cite {
  @extend %font-param;
  //font-weight: bold;
  color: $colorBlack;
  span {
    color: $color;
  }
}

em {
  color: $colorStrongBlue;
}

.tooplate_list {
  margin: 20px 0 20px 20px;
  @include padding("0");
  //padding: 0;
  list-style: none;
  li {
    color: $colorVividOrange;
    background: transparent $list-image no-repeat scroll 0 3px;
    margin: 0 0 10px;
    @include padding("3px 0 3px 20px");
    //padding: 3px 0 3px 20px;
    line-height: 1em;
    a {
      color: $colorVividOrange;
      &:hover {
        color: $colorVividOrange;
      }
    }
  }
}

#tooplate_wrapper {
@include box(940px, $wrapper-image repeat-y left);
  //width: 940px;
  @include padding("0, 20px");
  //padding: 0 20px;
  margin: 0 auto;
  //background: $wrapper-image repeat-y left;
}

#tooplate_sidebar {
  float: left;
  @include box(260px, $colorVeryLightGray $sidebar-image top no-repeat);
  //width: 260px;
  padding-bottom: 40px;
  //background: $colorVeryLightGray $sidebar-image top no-repeat;
}

#site_title {
  a {
    @include grid(false);
    //display: block;
    @include box(220px, $logo-image center top no-repeat);
    //width: 220px;
    height: 50px;
    @include padding("75px 20px 20px");
    //padding: 75px 20px 20px;
    font-size: 20px;
    margin-top: 15px;
    @extend %font-param;
    //font-weight: bold;
    text-align: center;
    color: $colorLightBlue;
    //background: $logo-image center top no-repeat;
  }
  span {
    color: $colorWhite;
  }
  a:hover {
    text-decoration: none;
  }
}

#home_service {
  clear: both;
  @include padding("0 5px");
  //padding: 0 5px;
  margin-bottom: 20px;
}

.home_service_box {
  position: $app-default-position;
  @include grid(false);
  //display: block;
  @include box($style_1...);
  //width: 155px;
  height: 50px;
  @include padding("15px 15px 15px 80px");
  //padding: 15px 15px 15px 80px;
  //background: $service-bg-image no-repeat;
  margin-bottom: 5px;
  font-size: 11px;
  line-height: 1.2em;
  h5 a {
    color: #618823;
    margin-bottom: 10px;
  }
  span {
    &.service1 {
      position: absolute;
      background: url(images/onebit_16.png);
      width: 48px;
      height: 48px;
      left: 15px;
      top: 16px;
    }
    &.service2 {
      position: absolute;
      background: url(images/onebit_15.png);
      width: 48px;
      height: 48px;
      left: 15px;
      top: 16px;
    }
    &.service3 {
      position: absolute;
      background: url(images/onebit_18.png);
      width: 48px;
      height: 48px;
      left: 15px;
      top: 16px;
    }
  }
}

.sidebar_box {
 @include padding("15px");
  //padding: 15px;
  border-bottom: $app-border-radius $app-border-config $colorGray;
  h4 {
    color: $colorDarkBlue;
  }
}

.sbb_last {
  border-bottom: none;
}

.sidebar_box form .newsletter_email {
@include box(218px, $colorVeryVeryLightGray);
  //width: 218px;
   @include padding("5px");
  //padding: 5px;
  margin: 10px 0;
  font-family: $app-font-family;
  font-size: 12px;
  color: $color;
  background: $colorVeryVeryLightGray;
  border: $app-border-radius $app-border-config $colorDarkerGray;
}

#newsletter_box form #submit_subscribe {
  cursor: pointer;
  float: right;
   @include padding("8px 12px");
  //padding: 8px 12px;
  background: $colorVeryVeryLightGray;
  border: $app-border-radius $app-border-config $colorDarkerGray;
  font-family: $app-font-family;
  font-size: 13px;
  @extend %font-param;
  //font-weight: bold;
  color: $color;
}

#tooplate_main {
  float: right;
  width: 640px;
}

#tooplate_menu {
  width: 640px;
  height: 60px;
  margin-bottom: 30px;
  ul {
    height: 40px;
    margin: 0 0 40px;
     @include padding("20px 0 0");
    //padding: 20px 0 0;
    list-style: none;
    li {
     @include padding("0");
      //padding: 0;
      margin: 0;
      display: inline;
      a {
        float: left;
        @include grid(false);
        //display: block;
        padding-left: 20px;
        margin-right: 40px;
        font-size: 14px;
        text-decoration: none;
        color: #a2c8eb;
        @extend %font-param;
        //font-weight: bold;
        background: $menu-image no-repeat left center;
        &:hover {
          color: $colorWhite;
          background: $menu-hover-image no-repeat left center;
        }
      }
    }
    .current {
      color: $colorWhite;
      background: $menu-hover-image no-repeat left center;
    }
  }
}

#featured_project {
  clear: both;
  height: 270px;
  width: 640px;
  color: $colorWhite;
  margin: 50px 0 80px;
  h1 {
    color: $colorWhite;
    /* text-shadow: 2px 2px 3px $colorBlack */
  }
  h3 {
    color: #dce5ed;
  }
  p {
    margin-bottom: 15px;
    color: #588ab7;
  }
  a {
    color: $colorWhite;
    @extend %font-param;
    //font-weight: bold;
  }
  img {
    float: left;
    @include box(320px, #071a2b);
    //width: 320px;
    height: 160px;
    border: $app-border-radius $app-border-config #28557e;
     @include padding("8px");
    //padding: 8px;
    margin-right: 40px;
    //background: #071a2b;
  }
}

#tooplate_content {
  clear: both;
  padding-bottom: 40px;
  h2 {
    line-height: 30px;
  }
  p {
    margin-bottom: 15px;
  }
}

#content_title_box {
  clear: both;
  color: $colorWhite;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
  h2 {
    color: $colorWhite;
  }
}

.content_box {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.cb_last {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.col_w300 {
  width: 300px;
}

.home_newsbox {
  margin-bottom: 20px;
}

.service_box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: $app-border-radius dashed $colorLightGray;
}

.sb_last {
 @include padding("0");
  //padding: 0;
  margin: 0;
  border: none;
}

.service_box {
  img {
    float: left;
    width: 48px;
    height: 48px;
  }
  .right {
    float: right;
    width: 560px;
  }
  ol li {
    list-style: decimal-leading-zero;
    margin-bottom: 5px;
  }
}

/* gallery */

#gallery {
  clear: both;
  .gallery_box {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: $app-border-radius dashed $colorLightGray;
    .left {
      float: left;
      width: 280px;
      img {
        width: 270px;
        height: 130px;
        border: 2px $app-border-config $colorBlack;
        padding: 1px;
        background: #64808b;
      }
    }
    .right {
      float: right;
      width: 330px;
    }
  }
}

/* end of gallery */

#contact_form {
  width: 330px;
   @include padding("0");
  //padding: 0px;
  margin: 0px;
  form {
    .input_field {
    @include box(280px, $colorVeryVeryLightGray);
      //width: 280px;
       @include padding("8px");
      //padding: 8px;
      //background: $colorVeryVeryLightGray;
      border: $app-border-radius $app-border-config $colorDarkerGray;
      color: $color;
      font-family: $app-font-family;
      font-size: 12px;
      margin-top: 5px;
    }
    label {
    @include grid(false);
      //display: block;
      width: 100px;
      margin-top: 10px;
      font-size: 14px;
      color: $color;
    }
    textarea {
     @include box(380px, $colorVeryVeryLightGray);
      //width: 380px;
      height: 200px;
      //background: $colorVeryVeryLightGray;
      border: $app-border-radius $app-border-config $colorDarkerGray;
       @include padding("8px");
      //padding: 8px;
      color: $color;
      font-family: $app-font-family;
      font-size: 12px;
      margin-top: 5px;
    }
    .submit_btn {
      margin: 10px 0px;
       @include padding("8px 16px");
      //padding: 8px 16px;
      background: $colorVeryVeryLightGray;
      border: $app-border-radius $app-border-config $colorDarkerGray;
      color: $color;
      font-size: 13px;
      @extend %font-param;
      //font-weight: bold;
    }
  }
}

#tooplate_footer_wrapper {
  clear: both;
  @include box(100%, $colorDarkBlue);
  //width: 100%;
  border-top: 5px $app-border-config $colorSoftBlue;
  //background: $colorDarkBlue;
}

#tooplate_footer {
  width: 940px;
   @include padding("20px");
  //padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: $colorSoftBlue;
  a {
    color: #b6dcff;
  }
}