//Lighter website theme:

//Overriding variables:
$colorDarkGray: lighten(#333, 10%);
$colorLightGray: lighten(#ccc, 10%);
$colorVeryLightGray: lighten(#e1e1e1, 10%);
$colorVeryVeryLightGray: lighten(#F2F2F2, 10%);
$colorGray: lighten(#999, 10%);
$colorDarkerGray: lighten(#AAA, 10%);
$colorWhite: lighten(#fff, 10%);
$colorRust: lighten(#d95e1c, 10%);
$colorDarkBlue: lighten(#0f3252, 10%);
$colorStrongBlue: lighten(#1b6fbb, 10%);
$colorLightBlue: lighten(#8cc9ff, 10%);
$colorSoftBlue: lighten(#64a6e3, 10%);
$colorBlack: lighten(#000, 10%);
$colorVividOrange: lighten(#f48a06, 10%);

//font:
$app-font-family: Helvetica, Arial, Sans-Serif;
$app-font-size: 14px !default;


// Importing: Vanilla version for Variant 1:
@import 'vanilla';


//Layering: using base app mixin
@mixin variant1_siteTitle_box($width, $background) {
	@include box($width, $background);
    height: 60px;

}