//Variables:

//colors:
$colorDarkGray: #333 !default;
$colorLightGray: #ccc !default;
$colorVeryLightGray: #e1e1e1 !default;
$colorVeryVeryLightGray: #F2F2F2 !default;
$colorGray: #999 !default;
$colorDarkerGray: #AAA !default;
$colorWhite: #fff !default;
$colorRust: #d95e1c !default;
$colorDarkBlue: #0f3252 !default;
$colorStrongBlue: #1b6fbb !default;
$colorLightBlue: #8cc9ff !default;
$colorSoftBlue: #64a6e3 !default;
$colorBlack: #000 !default;
$colorVividOrange: #f48a06 !default;


//font:
$app-font-family: Tahoma, Geneva, sans-serif !default;
$app-font-size: 12px !default;
$app-font-weight: normal !default;
